$breakpoint-sm: "only screen and (min-width: 576px)";
$breakpoint-md: "only screen and (min-width: 768px)";

@mixin breakpoint-sm {
  @media #{$breakpoint-sm} {@content}
}

@mixin breakpoint-md {
  @media #{$breakpoint-md} {@content}
}

$white: #FFFFFF;
$red: #FF0000;
$gray01: #EEEEEE;
$gray02: #DDDDDD;
$gray03: #FCFCFC;
$gray04: #888888;
$gray05: #444444;
$orange01: #FDE355;
$green01: #6DBA2C;
$sky: #D8F6FD;
$brown: #461A0B;
$purple: #860965;
$blue01: #0059A0;
$blue02: #E2FAFF;
